
html body .exterior-hero-row-1.custom-header-row  {
        padding:0px !important;
}



.exterior-hero-row-1.custom-header-row > div {
flex-direction:column;
}



.exterior-hero-row-1  {
	padding:0px !important;
	a {
		font-size:50px;
		color:white;
		font-family: "Poppins";
		margin-top:20px;
		font-size:1.2rem;
		text-transform:uppercase;
		display:block;
		letter-spacing:3px;
		transition: all 0.3s ease;
		
	}

	a:hover {
	color:#82657c;
	}

	p.ext-hero-visit {
		margin-top:25px;
	}

}
