@media (max-width: 1500px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

	#footer-cols-row {
		flex-direction:column;

		>div {
			width:100%;
			margin-bottom:40px;
		}


	}


}

@media (max-width: 576px) {

}
