
html body .section-boy-girl  {

        p {
        font-family: 'Open Sans', sans-serif;
	font-size:0.9rem;
        }

}


@media (max-width: 980px) {
  /* CSS rules for screens smaller than 981px */

  .section-boy-girl {
	  display:block;

  }

  .section-boy-girl > div {
	width:80%
  }

  html body   .section-boy-girl h2 {
        margin-top:46px;
  }

}


@media (max-width: 1400px) {
	html body .section-boy-girl > div  {
		width:90%;
		
	}
}
